/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: '475px';
  color: white;
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 168px;
}

@media (min-width: 791px) {
  .container {
    padding-top: 168px;
  }
}
@media (max-width: 790px) and (min-width: 465px) {
  .container {
    padding-top: 90px;
  }
}
@media (max-width: 465px) {
  .container {
    padding-top: 0;
  }
}

.videoContainer {
  height: 475px;
  width: 100%;
  position: relative;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  z-index: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  border-radius: 8px;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #010101;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.near-subtitle {
  font-weight: 800;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.004em;
}

.near-title {
  font-weight: 800;

}

.features {
  display: flex;
}

.near-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}