/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #87cefa;
  --ifm-color-primary-dark: #87cefa;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #87cefa;
  --ifm-color-primary-dark: #87cefa;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

img[alt='Plugin Manager'] { width: 70%; }
img[alt='Local Plugin'] { width: 50%; }
img[alt='Select Wallet'] { width: 70%; }
img[alt='Connect Wallet'] { width: 70%; }
img[alt='Template Tree'] { width: 70%; }
img[alt='Project Compile'] { width: 50%; }
img[alt='Deploy'] { width: 70%; }
img[alt='Deployed Contract'] { width: 50%; }
img[alt='View Function'] { width: 50%; }
img[alt='Function Call'] { width: 70%; }
