.banner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 86px;
  background: transparent;
  position: relative;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 8px;
}

.banner-section {
  position: relative;
  /* max-width: 660px;
  width: 660px; */
  max-width: 1108px;
  min-width: 660px;
  width: calc(100% - 10px * 2);
  padding-left: 40px;
  border: 1px solid #566077;
  cursor: pointer;
  border-radius: 8px;
}

.banner-contents {
  position: relative;
  max-width: 512px;
  height: 100%;
  /* margin-left: auto; */
  /* margin-right: 554px; */
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.add--icon {
  position: absolute;
  top: 40px;
  right: 40px;
}

.contents--wellcome {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 155%;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss18' on;
  color: #FFF9CB;
}

.contents--near {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 155%;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss18' on;
  background: radial-gradient(89.3% 113.9% at 88.12% 6.04%, #FAA265 0%, #E579F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contents--try {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 155%;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss18' on;
  color: white
}

.contents--button {
  border-radius: 4px;
  min-width: 98px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  background: #000000;
  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 4px;
}

.contents--button--mobile{
  display: none;
}

@media all and (max-width: 996px) {
  .banner_wrapper {
    flex-direction: column;
  }
  .contents--wellcome {
    margin: 12px 0px;
  }
  .contents--try {
    margin-bottom: 12px;
  }
  .contents--button {
    display: none;
  }
  .contents--button--mobile{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}
